<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Consulta de CEP</title>
</head>
<body>
    <h1>Consulta de CEP</h1>

    <form method="get">
        {{ form.as_p }}
        <button type="submit">Consultar</button>
    </form>

    {% if endereco %}
    <h2>Resultado da Consulta</h2>
    <p><strong>CEP:</strong> {{ endereco.cep }}</p>
    <p><strong>Rua:</strong> {{ endereco.rua }}</p>
    <p><strong>Bairro:</strong> {{ endereco.bairro }}</p>
    <p><strong>Estado:</strong> {{ endereco.estado }}</p>
    {% endif %}

</body>
</html>''
